@import url(local_simple_page_mode.css);
@media all and (max-width: 420px) {
	#_page_body > form > center > table.tablestyle2 > tbody > tr:nth-child(5) > td:nth-child(2) > * {
		width: calc(100% - 7em);
	}
	#_page_body > form > center > table.tablestyle2 > tbody > tr:nth-child(5) > td:nth-child(2) > span {
		margin: 0;
	}
}