@import url(local.css);
div#_orders_tbl_span table {
	width: auto;
	max-width: 99%;
}
div#_orders_tbl_span table td {
	border: 1px solid #DDD !important;
}
@media all and (max-width: 680px) {

	#_page_body > form > center:first-child > table.tablestyle_noborder > tbody > tr:nth-child(2) > td:nth-child(3) {
		float: right;
	}
}