@import url(local.css);
@media all and (max-width: 680px) {
	#_page_body > form > center > table.tablestyle_noborder > tbody > tr > td:nth-child(7) {
		width: 60%;
		float: right;
	}
}
table.tablestyle td {
	border: 1px solid #DDD !important;
}