@import url(local.css);
/*ENTRY ITEMS*/
div#items_table, div#items_table table {
	width: auto;
}
tr.evenrow td, tr.oddrow td, tr.stockmankobg td {
	border: 1px solid #DDD !important;
}
@media all and (max-width: 680px) {
	#_page_body > form > center:not(:first-child) > table.tablestyle2,
	#_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody,
	#_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr,
	div#items_table {
		display: block;
		width: 100%;
		border: 0 !important;
	}
	div#items_table > center {
		padding-bottom: 1em;
	}
	#_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr {
		margin-bottom: 1em;
	}
	#_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr > td {
		display: inline-block;
		width: calc(100% - 4em);
		margin-left: 2em;
		border: 0;
	}
	#_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr > td.label {
		line-height: 1em;
		text-align: left;
		background-color: #FFF;
		margin-left: 1em;
	}
	#_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr > td > *:not(.date_box) {
		width: 100%;
	}
	#_page_body > form > center:not(:first-child) > table.tablestyle2 .list_box {
		width: 100%;
	}
}
@media all and (min-width: 481px) and (max-width: 680px) {
    #_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr > td {
    	width: 80%;
		margin-left: 10%;
    }
    #_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr > td.label {
    	margin-left: 5%;
    }
}