@import url(local.css);
div#_orders_tbl_span table {
	width: auto;
	max-width: 99%;
}
div#_orders_tbl_span table td {
	border: 1px solid #DDD !important;
}
@media all and (max-width: 680px) {
	#_page_body > form > center:first-child > table.tablestyle_noborder > tbody > tr > td:nth-child(5) {
		float: right;
	}
	#_page_body > form > center:first-child > table.tablestyle_noborder > tbody > tr > td:nth-child(7) {
		width: 10%;
	}
	#_page_body > form > center:first-child > table.tablestyle_noborder > tbody > tr > td:nth-child(8) {
		width: 30%;
	}
	#_page_body > form > center:first-child > table.tablestyle_noborder > tbody > tr > td:nth-child(9) {
		width: 60%;
	}
	#_page_body > form > center:first-child > table.tablestyle_noborder > tbody > tr > td:nth-child(10) {
		width: 40%;
	}
	#_page_body > form > center:first-child > table.tablestyle_noborder > tbody > tr > td:nth-child(11) {
		width: 60%;
	}
}