@import url(local.css);
/*ENTRY ITEMS*/
@media all and (max-width: 680px) {
	#_page_body > form > center:not(:first-child) > table.tablestyle, #tax_table > center:not(:first-child) > table.tablestyle2, #tax_table > center:not(:first-child) > table.tablestyle2 > tbody, #tax_table > center:not(:first-child) > table.tablestyle2 > tbody > tr, div#gl_items {
		display: block;
		width: 100%;
		border: 0 !important;
	}
	div#gl_items > center, div#grn_items > center {
		padding-bottom: 1em;
	}
	#tax_table > center:not(:first-child) > table.tablestyle2 > tbody > tr {
		margin-bottom: 1em;
	}
	#tax_table > center:not(:first-child) > table.tablestyle2 > tbody > tr > td {
		display: inline-block;
		width: calc(100% - 4em);
		margin-left: 2em;
		border: 0;
	}
	#tax_table > center:not(:first-child) > table.tablestyle2 > tbody > tr > td.label {
		margin: 0;
		line-height: 1em;
	}
	#tax_table > center:not(:first-child) > table.tablestyle2 > tbody > tr > td > *:not(.date_box) {
		width: 100%;
	}
	form > center > table.tablestyle div.list_box, form > center > table.tablestyle input[type=text]:not(.date), div#gl_items input[type=text]:not(.date), div#gl_items div.list_box {
		width: 5em;
	}
}